*.csv
*.swp
*.pdf
*.nfs*
*.Rproj
*.log
*.key
*.md
.RData
*/__pycache__/*
lib/report.*.md
cache
cache/*
data
data/*
plots
plots/*
reports/*
results/*
gmaps_api.key
census_api.key
.Rhistory
.Rproj.user
tags
